*,
::before,
::after {
  padding: 0;  
  margin: 0;
  box-sizing: border-box; 
}

body {
    background-color: #008080;
    color:#ffffff;
    font-family:Verdana, sans-serif;
}

main { /*It's better to make inner container grid instead of body element.*/
    display:grid;
    grid-template-columns: minmax(3rem,1fr) minmax(min-content, 60rem) minmax(3rem,1fr);
    row-gap:1rem;
    margin:1rem 0;
}

.heading {
    grid-column: 2 / 3;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    row-gap: 1rem;
}

.heading-main{ /*This separates the heading image and texts from others and it makes them fit into 1 column.*/
    grid-column: 1/-1;
    position:relative;
}

header h1, header p{
    text-align: center;
    color:#7CFC00;
}

header h1 {
    font-size:3rem;
    text-size-adjust: auto;    
}

header p {
    font-size:1.5rem;   
    text-size-adjust: auto;  
}

.text {
    grid-column: 2 / 3;
    text-align: justify;
    column-width:15rem; /*CSS grid fills the rows first. So, in order to fill columns first, we can use column-width property*/  
    column-gap:1rem;
}

.social-media{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    font-size:1.5rem;
    align-items: center;
}

a {
    color:#ffffff;
    text-decoration: none;
}

.owner-anchor:hover {
    background-color:blue;
}

.heading-img {
    width: 100%;
    object-fit: cover;
}

h4 {
    font-size:1rem;
    color:#7CFC00;
}

hr {
    margin:1rem auto;
    border:1px solid #7CFC00;
}

blockquote p { 
    font-size:1rem;
    color:#7CFC00;
    text-align:center;
}

.owner {
    font-family: Georgia,sans-serif;
    font-size:1.3rem;
}

.RGB {
    grid-column: 2 / 3;
}

.RGB-img{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}

.RGB-image{ /*This class selector prevents the page from becoming bigger and having a horizontal scroll bar.*/
    width: 100%; 
    object-fit:contain; /*red, green and blue images will stay at certain size.*/
}

.text p {
    margin-bottom:1rem;
}

.date{
    color:#00ffff;
}

.RGB-quote {
    margin-top: 1rem;
    text-align: center;
    color:#00ffff;
}

@media only screen and (max-width: 550px) {
    header h1 {
      font-size: 1.25rem;
    }
}

@media only screen and (max-width: 400px) {
    header h1 {
      font-size:1.25rem;
    }
}